/* フェードインさせる要素 */
/*横からのフェードイン：　https://the-zombis.sakura.ne.jp/wp/blog/2019/07/29/post-3829/　*/
.actor-a {
    background-image:url("../images/1a.png");
	background-position: center;
	margin-left: 10%;
    margin-right: 10%;
	margin-bottom: 1vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
    transform:translateX(90px); /* 最初は元の位置より右にずらしておく */
	aspect-ratio: 4 / 1; /*アスペクト比を固定*/
}

.actor-b {
    background-image:url("../images/1b.png");
	background-position: center;
	margin-left: 10%;
    margin-right: 10%;
	margin-bottom: 1vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
    transform:translateX(-90px); /* 最初は元の位置より左にずらしておく */
	aspect-ratio: 4 / 1; /*アスペクト比を固定*/
}
.actor-c {
    background-image:url("../images/1c.png");
	background-position: center;
    margin-left: 10%;
    margin-right: 10%;
	margin-bottom: 1vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
	transform:translateX(90px); /* 最初は元の位置より右にずらしておく */
    aspect-ratio: 4 / 1; /*アスペクト比を固定*/
}
.actor-d {
    background-image:url("../images/1d.png");
	background-position: center;
	margin-left: 10%;
    margin-right: 10%;
	margin-bottom: 10%;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
	transform:translateX(-90px); /* 最初は元の位置より左にずらしておく */
    aspect-ratio: 4 / 1; /*アスペクト比を固定*/
}

.actor1 {
    width: 80%;
    height: 60%;
    background-image:url("../images/2.jpeg");
	background-position: center;
	margin-left: 10%;
    margin-right: 10%;
	margin-bottom: 15vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
    
	
}

.actor2 {
    width: 80%;
    height: 60%;
    background-image:url("../images/2.jpeg");
	background-position: center;
	margin: auto;
    margin-bottom: 15vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
	
}

.actor3 {
    width: 80%;
    height: 60%;
    background-image:url("../images/2.jpeg");
	background-position: center;
	margin: auto;
    margin-bottom: 15vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
	
}
.actor4 {
    width: 80%;
    height: 60%;
    background-image:url("../images/2.jpeg");
	background-position: center;
	margin: auto;
    margin-bottom: 15vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
	
}
.actor5 {
    width: 80%;
    height: 60%;
    background-image:url("../images/2.jpeg");
	background-position: center;
	margin: auto;
    margin-bottom: 15vh;
    opacity: 0; /* 最初は非表示にしておく */
    transition: all 2s; /* 動きを滑らかに */
	
}

/* フェードイン用のクラス */
.fadeIn {
    opacity: 1;
}

.fadeIn-side {
    opacity: 1;
    transform: translateX(0);
}

