
html {
	height: 100%;
	background-image: url(../images/back-white.png);
}
	
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%; 
	text-align: center;
	font-size: 2.5vh;
	line-height: 4vh;
	font-family: "Kaisei Decol", serif;
}


/*li, ur修正*/
ul{
	padding-left:0;
  }
  
li{
	list-style:none;
  }

.title {
	text-align: left;
	line-height: 4vh;
	margin-left: 8%;
  }

#title2{
	text-decoration-line: none;
  }

.catch-copy {
	font-family: serif;
	margin-top: 17vh;
	margin-bottom: 20vh;
	opacity: 0.1; /* 最初は非表示にしておく */
	transition: all 1.3s; /* 動きを滑らかに */
  }

  /* フェードイン用のクラス */
.fadeIn {
    opacity: 1;
}


header {
	width: 100%;
    background-color: #a545c5aa;
    font-size: 2.7vh;
    margin-top: -5vh; /*強引にmarginマイナスにしてヘッダー上余白消した*/
    margin-bottom: 5vh;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    border-bottom: 1px solid; /*ヘッダー下線追加*/

}


.gnavi__pc-style {
	margin: 0 0 0 10%;
  }
  .gnavi__pc-style ul {
	display: flex;
	justify-content: space-between;
  }
  .gnavi__pc-style ul li:not(:last-of-type) {
	margin-right: 30px;
	
  }
   
  /*ここから下がハンバーガーメニューのスタイル*/
  .gnavi__sp-style {
	display: none;
  }
  @media screen and (max-width: 768px) {
  .gnavi__pc-style {
	display: none;    
  }
  .gnavi__sp-style {
	display: block;
  }
   
  /*メニューボタン　展開前*/
  .menu-btn {
	display : block;
	position: fixed;
	z-index: 3;
	right: 30px;
	top: 20px;
	width: 42px;
	height: 42px;
	cursor: pointer;
	text-align: center;
  }
  .menu-btn span {
	display : block;
	position: absolute;
	width: 30px;
	height: 2px ;
	left: 6px;
	background: #555;
	transition: 0.3s ease-in-out;
  }
  .menu-btn span:nth-of-type(1) {
	top: 10px;
  }
  .menu-btn span:nth-of-type(2) {
	top: 20px;
  }
  .menu-btn span:nth-of-type(3) {
	top: 30px;
  }
	 
  /*メニューボタン　展開後*/
  .menu-btn.active span:nth-child(1) {
	top: 16px;
	left: 6px;
	background :#fff;
	transform: rotate(-45deg);
  }
  .menu-btn.active span:nth-child(2),
  .menu-btn.active span:nth-child(3) {
	top: 16px;
	background :#fff;
	transform: rotate(45deg);
  }
   
  /*スマホ用のメニュー*/
  .gnavi__sp-style {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	width: 100%;
	height: 100vh;
	opacity: 0;
	transition: opacity .6s ease, visibility .6s ease;
	display: flex;
	align-items: center;
	pointer-events: none; /*格納時リンク踏んでしまう問題を修正(1)*/
  }
  .gnavi__sp-style ul {
	margin: 0 auto;
	padding: 0;
	width: 100%;
  }
  .gnavi__sp-style ul li {
	list-style-type: none;
	padding: 0;
	width: 100%;
	transition: .4s all;
  }
  .gnavi__sp-style ul li:last-of-type {
	padding-bottom: 0;
  }
  .gnavi__sp-style ul li:hover{
	background :#ddd;
  }
  .gnavi__sp-style ul li a {
	display: block;
	color: #fff;
	padding: 1em 0;
	text-decoration :none;
  }
  .gnavi__sp-style.active {
	opacity: 1;
	pointer-events: auto; /*格納時リンク踏んでしまう問題を修正（２）*/
  }
  }


p {
	line-height: 4vh;　/*行間設定*/
}

.narrow {
	line-height: 3.5vh;
	font-family: serif;
	font-weight: bold;
}

.mt1 {
	margin-top: 1em;
}

.mt3 {
	margin-top: 3em;
}

.mt5 {
	margin-top: 5em;
}

.box1 {
	border: 0.7vh double;
	border-radius: 1vh;
	font-size: calc(1rem+1vw);
	width: 75vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3.5vh;
	padding-bottom: 3.5vh;
}


.spacing {
	margin: 1vh;
}

a  {
	color: black; /*リンクの色を黒から変化させない*/
}

.web-link {
	font-size: 2vh;
}


footer {
	position: sticky;
	top: 100vh;
	width: 100%;
	height: 15vh;
    background: #1a3a65b3;
	display: flex;
	justify-content: center; /*flexboxを使って左右中央よせ*/
    align-items: center; /*flexboxを使って上下中央よせ*/
	font-size: 2vh;
	border-top: 1px solid; /*フッター上線追加*/
}

.SNS1 {
	width: 80%;
	height: 60%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5vh;
	border: 1px solid;
}

.margin-side {
	margin-left: 10%;
	margin-right: 10%;
}

.kaisei-decol-regular {
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .kaisei-decol-medium {
	font-family: "Kaisei Decol", serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .kaisei-decol-bold {
	font-family: "Kaisei Decol", serif;
	font-weight: 700;
	font-style: normal;
  }

  
  