

html {
	height: 100%;
	font-family: "myfont", sans-serif;
	background: #b9adaf58;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%; 
	text-align: center;
	font-size: 2.5vh;
	line-height: 4vh;
}

@font-face {
	font-family: "myfont";
	src: url("../fonts/NotoSerifJP-VariableFont_wght.ttf") format("truetype");
	font-family: "myfont2";
	src: url('../fonts/NotoSerifJP-Light.ttf') format('truetype');
  }

/*li, ur修正*/
ul{
	padding-left:0;
  }
  
  li{
	list-style:none;
  }

  .title {
	text-align: left;
	margin-left: 5vh
  }


header {
	width: 100%;
	background-color: #ddd;
	margin: -5vh; /*強引にmarginマイナスにしてヘッダー上余白消した*/
	padding: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative; 
  }

.gnavi__pc-style {
	margin: 0 0 0 10%;
  }
  .gnavi__pc-style ul {
	display: flex;
	justify-content: space-between;
  }
  .gnavi__pc-style ul li:not(:last-of-type) {
	margin-right: 50px;
	
  }
   
  /*ここから下がハンバーガーメニューのスタイル*/
  .gnavi__sp-style {
	display: none;
  }
  @media screen and (max-width: 768px) {
  .gnavi__pc-style {
	display: none;    
  }
  .gnavi__sp-style {
	display: block;
  }
   
  /*メニューボタン　展開前*/
  .menu-btn {
	display : block;
	position: fixed;
	z-index: 3;
	right: 30px;
	top: 20px;
	width: 42px;
	height: 42px;
	cursor: pointer;
	text-align: center;
  }
  .menu-btn span {
	display : block;
	position: absolute;
	width: 30px;
	height: 2px ;
	left: 6px;
	background: #555;
	transition: 0.3s ease-in-out;
  }
  .menu-btn span:nth-of-type(1) {
	top: 10px;
  }
  .menu-btn span:nth-of-type(2) {
	top: 20px;
  }
  .menu-btn span:nth-of-type(3) {
	top: 30px;
  }
	 
  /*メニューボタン　展開後*/
  .menu-btn.active span:nth-child(1) {
	top: 16px;
	left: 6px;
	background :#fff;
	transform: rotate(-45deg);
  }
  .menu-btn.active span:nth-child(2),
  .menu-btn.active span:nth-child(3) {
	top: 16px;
	background :#fff;
	transform: rotate(45deg);
  }
   
  /*スマホ用のメニュー*/
  .gnavi__sp-style {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	width: 100%;
	height: 100vh;
	opacity: 0;
	transition: opacity .6s ease, visibility .6s ease;
	display: flex;
	align-items: center;
  }
  .gnavi__sp-style ul {
	margin: 0 auto;
	padding: 0;
	width: 100%;
  }
  .gnavi__sp-style ul li {
	list-style-type: none;
	padding: 0;
	width: 100%;
	transition: .4s all;
  }
  .gnavi__sp-style ul li:last-of-type {
	padding-bottom: 0;
  }
  .gnavi__sp-style ul li:hover{
	background :#ddd;
  }
  .gnavi__sp-style ul li a {
	display: block;
	color: #fff;
	padding: 1em 0;
	text-decoration :none;
  }
  .gnavi__sp-style.active {
	opacity: 1;
  }
  }





.pop {
	line-height: 5vh;
}

@keyframes toRight {
  100% {
    transform: translate(0, 0);
    background-position: left 0% center;
  }
}

.fade-text {
 display: block;
 color: transparent;
 font-size: 30px;
 line-height: 1.4;
 margin-bottom: 40px;
 background-clip: text;
 -webkit-background-clip: text;
 background-size: 300% 300%;
}

.fade-text.to__right {
  background-image: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0) 60%);
  background-position: left 100% center;
  transform: translate(-20px, 0);
  -webkit-animation: toRight var(--duration, 2.4s) var(--ease) var(--delay, 0.6s) forwards;
          animation: toRight var(--duration, 2.4s) var(--ease) var(--delay, 0.6s) forwards;
}

a  {
	color: black;
}

footer {
	position: sticky;
	top: 100vh;
	width: 100%;
	height: 15vh;
    background: #1a3a65b3;
	display: flex;
	justify-content: center; /*flexboxを使って左右中央よせ*/
    align-items: center; /*flexboxを使って上下中央よせ*/
	font-size: 2vh;
}

