@font-face {
	font-family: "myfont";
	src: url("../fonts/NotoSerifJP-VariableFont_wght.ttf") format("truetype");
	font-family: "myfont2";
	src: url('../fonts/NotoSerifJP-Light.ttf') format('truetype');
  }

html {
	height: 100%;
	font-family: "myfont", sans-serif;
	background: #b9adaf58;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
	font-size: 2.5vh;
	line-height: 4vh;
}

header {
	text-align: left;
	margin-left: 5vw;
}

.pop {
	line-height: 5vh;
}



.catch {
	font-family:"myfont2";
	font-size: 3vh;
	margin: 8.5%
}

a  {
	color: black;
}

footer {
	position: sticky;
	top: 100vh;
	width: 100%;
	height: 15vh;
    background: #1a3a65b3;
	display: flex;
	justify-content: center; /*flexboxを使って左右中央よせ*/
    align-items: center; /*flexboxを使って上下中央よせ*/
	font-size: 2vh;
}

